<!doctype html>
<html>
	<head>

	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, user-scalable=no, minimal-ui'>

	<title>{{resume.basics.name}}</title>

	<style>
	{{{css}}}
	</style>

	</head>
	<body>

	<div class='resume'>
	{{#resume.basics}}
  <div class='nameBlock'>
    <h1 class='name'>{{{name}}}</h1>
    {{#if label}}<div class='label'>{{{label}}}</div>{{/if}}
  </div>
  <div class='basicsBlock'>
    <div class='headerContact'>
      <span class='contactPiece contactLocation'>{{#location}}{{#if address}}{{address}}{{/if}}{{#if city}}{{#if address}}, {{/if}}{{city}}{{/if}}{{#if region}}{{#if city}}, {{/if}}{{region}}{{/if}} {{#if postalCode}}{{postalCode}}{{/if}}{{/location}}</span>
      {{#if phone}}<span class='contactSep' aria-hidden='true'> | </span><span class='contactPiece'><a class='phoneLink' href='tel:{{phone}}'>{{phone}}</a></span>{{/if}}
      {{#if email}}<span class='contactSep' aria-hidden='true'> | </span><span class='contactPiece'><a class='emailLink' href='mailto:{{email}}'>{{email}}</a></span>{{/if}}
      {{#if url}}<span class='contactSep' aria-hidden='true'> | </span><span class='contactPiece'><a class='websiteLink' href='{{url}}'>{{url}}</a></span>{{/if}}
      {{#if profiles.length}}
      {{#each profiles}}
      {{#if url}}<span class='contactSep' aria-hidden='true'> | </span><span class='contactPiece'><a class='profileLink' href='{{url}}'>{{{network}}}</a></span>{{/if}}
      {{/each}}
      {{/if}}
    </div>
  </div>
	{{/resume.basics}}

  {{#if resume.basics._showExecutiveSummary}}
  <div class='summaryBlock'>
    <h2 class='sectionName'>
      <span>Executive Summary</span>
    </h2>
    <div class='sectionContent'>
      {{#if resume.basics.summary}}<p class='summary summaryProse'>{{{resume.basics.summary}}}</p>{{/if}}
      {{#if resume.basics.highlights.length}}
      <h3 class='subSectionName'>Career Highlights</h3>
      <ul class='highlights'>
        {{#each resume.basics.highlights}}
        <li>{{{.}}}</li>
        {{/each}}
      </ul>
      {{/if}}
    </div>
  </div>
  {{/if}}

	{{#if resume.work.length}}
  <div class='workBlock'>
    <h2 class='sectionName'>
      <span>Work Experience</span>
    </h2>
    <div class='sectionContent'>
      {{#each resume.work}}
			<div class="jobBlock">
	      <div class='blockHeader'>
	        <div class='titleGroup'>
	          {{#if position}}<h3 class='title'>{{{position}}}</h3>{{/if}}
	          <div class='metaRow'>
	            {{#if name}}<div class='companyLine'><span class='companyName'>{{{name}}}</span>{{#if location}}, {{{location}}}{{/if}}</div>{{/if}}
	            {{#if startDate}}
	            <div class='dateLine'>
	              <span class='date'>{{#if startDate}}{{startDate}}{{/if}} - {{#if endDate}}{{endDate}}{{else}}Present{{/if}}</span>
	            </div>
	            {{/if}}
	          </div>
	        </div>
	      </div>
	      {{#if summary}}<div class='summary'><p class='summaryProse'>{{{summary}}}</p></div>{{/if}}
	      {{#if highlights.length}}
	      <ul class='highlights'>
	        {{#each highlights}}
	        <li>{{{.}}}</li>
	        {{/each}}
	      </ul>
	      {{/if}}
	      {{#if details.length}}
	      <ul class='details'>
	        {{#each details}}
	        <li>{{#if text}}{{{text}}}{{/if}}{{#if comment}} <em>({{{comment}}})</em>{{/if}}</li>
	        {{/each}}
	      </ul>
	      {{/if}}
	      {{#unless @last}}<div class='separator'></div>{{/unless}}
			</div>
      {{/each}}
    </div>
  </div>
	{{/if}}

	{{#if resume.education.length}}
	<div class='education'>
    <h2 class='sectionName'>
      <span>Education</span>
    </h2>
    <div class='sectionContent'>
      {{#each resume.education}}
      <div class='educationBlock'>
        <div class='blockHeader'>
          <h3 class='title'>
            {{#if institution}}{{{institution}}}{{#if location}}, {{{location}}}{{/if}}{{#if score}} <em>({{{score}}}{{#if scoreMax}}/{{{scoreMax}}}{{/if}}{{#if scoreType}} {{{scoreType}}}{{/if}})</em>{{/if}}{{/if}}
          </h3>
          <div class='metaRow'>
            {{#if studyType}}<div class='degree'><em>{{{studyType}}}{{#if area}} ({{{area}}}){{/if}}</em></div>{{/if}}
            {{#if startDate}}
            <div class='dateLine'>
              <span class='date'>{{startDate}} - {{#if endDate}}{{endDate}}{{else}}Present{{/if}}</span>
            </div>
            {{/if}}
          </div>
        </div>
        {{#if courses.length}}
        <div class='coursesBlock'>
          <div class='coursesInline'>
            {{#each courses}}
              <span class='course'>{{{this}}}</span>{{#unless @last}}<span class='courseSep'> • </span>{{/unless}}
            {{/each}}
          </div>
        </div>
        {{/if}}
      </div>
      {{#unless @last}}<div class='separator'></div>{{/unless}}
      {{/each}}
    </div>
	</div>
	{{/if}}

  {{#if resume.projects.length}}
  <div class='projects'>
    <h2 class='sectionName'>
      <span>Projects</span>
    </h2>
    <div class='sectionContent'>
      {{#each resume.projects}}
      <div class='projectBlock'>
        <div class='blockHeader blockHeaderInlineMeta'>
          <h3 class='title'>
            {{{name}}}{{#if url}} <span class='projectUrl'>({{url}})</span>{{/if}}
          </h3>
          {{#if startDate}}
          <div class='dateLine'>
            <span class='date'>{{startDate}} - {{#if endDate}}{{endDate}}{{else}}Present{{/if}}</span>
          </div>
          {{/if}}
        </div>
        {{#if description}}
        <div class='description'><p class='summaryProse'>{{{description}}}</p></div>
        {{/if}}
        {{#if highlights.length}}
        <ul class='highlights'>
          {{#each highlights}}
          <li>{{{.}}}</li>
          {{/each}}
        </ul>
        {{/if}}
      </div>
      {{#unless @last}}<div class='separator'></div>{{/unless}}
      {{/each}}
    </div>
  </div>
  {{/if}}

	{{#if resume.skills.length}}
	<div class='skills'>
    <h2 class='sectionName'>
      <span>Skills</span>
    </h2>
    <div class='sectionContent'>
      {{#each resume.skills}}
      <div class='skillBlock'>
        <span class='skillRow'>
          {{#if name}}<b>{{{name}}}{{#if level}} <em>({{{level}}})</em>{{/if}}:</b>{{/if}}<!--
          -->{{#if keywords.length}}<!--
          -->{{#each keywords}} {{{.}}}{{#unless @last}}, {{/unless}}{{/each}}<!--
          -->{{/if}}
        </span>
        {{#if details.length}}
        <span class='skillDetailsRow'>
          {{#each details}}
          {{#if text}}{{{text}}}{{/if}}{{#if comment}} <em>({{{comment}}})</em>{{/if}}{{#unless @last}}; {{/unless}}
          {{/each}}
        </span>
        {{/if}}
      </div>
      {{/each}}
    </div>
	</div>
	{{/if}}

	{{#if resume.publications.length}}
	<div class='publications'>
    <h2 class='sectionName'>
      <span>Patents</span>
    </h2>
    <div class='sectionContent'>
      {{#each resume.publications}}
      <div class='publicationBlock'>
        <div class='blockHeader blockHeaderInlineMeta'>
          <h3 class='title'>{{#if name}}{{{name}}}{{/if}}</h3>
          {{#if releaseDate}}
          <div class='dateLine'>
            <span class='date'>{{releaseDate}}{{#if summary}} - {{summary}}{{/if}}</span>
          </div>
          {{else}}
          {{#if summary}}
          <div class='dateLine'>
            <span class='date'>{{summary}}</span>
          </div>
          {{/if}}
          {{/if}}
        </div>
        {{#if highlights.length}}
        <ul class='highlights'>
          {{#each highlights}}
          <li>{{{.}}}</li>
          {{/each}}
        </ul>
        {{/if}}
        {{#unless @last}}<div class='separator'></div>{{/unless}}
      </div>
      {{/each}}
    </div>
	</div>
	{{/if}}

  {{#if resume.recognition._showRecognition}}
	<div class='recognition'>
    <h2 class='sectionName'>
      <span>Recognition</span>
    </h2>
    <div class='sectionContent'>
      <div class='recognitionBlock'>
        {{#if resume.recognition.title}}<h3 class='title'>{{{resume.recognition.title}}}</h3>{{/if}}
        {{#if resume.recognition.summary}}<p class='summary summaryProse'>{{{resume.recognition.summary}}}</p>{{/if}}
        {{#if resume.recognition.highlights.length}}
        <ul class='highlights'>
          {{#each resume.recognition.highlights}}
          <li>{{{.}}}</li>
          {{/each}}
        </ul>
        {{/if}}
      </div>
    </div>
	</div>
  {{/if}}

	{{#if resume.awards.length}}
	<div class='awards'>
    <h2 class='sectionName'>
      <span>Awards &amp; Recognition</span>
    </h2>
    <div class='sectionContent'>
      {{#each resume.awards}}
      <div class='awardBlock'>
        <div class='blockHeader blockHeaderInlineMeta'>
          <h3 class='title'>
            {{#if title}}{{{title}}}{{#if awarder}}: {{{awarder}}}{{/if}}{{/if}}
          </h3>
          {{#if date}}
          <div class='dateLine'>
            <span class='date'>{{date}}</span>
          </div>
          {{/if}}
        </div>
        {{#if highlights.length}}
        <ul class='highlights'>
          {{#each highlights}}
          <li>{{{.}}}</li>
          {{/each}}
        </ul>
        {{/if}}
        {{#unless @last}}<div class='separator'></div>{{/unless}}
      </div>
      {{/each}}
    </div>
	</div>
	{{/if}}

	{{#if resume.volunteer.length}}
	<div class='volunteer'>
    <h2 class='sectionName'>
      <span>Volunteering</span>
    </h2>
    <div class='sectionContent'>
      {{#each resume.volunteer}}
      <div class='volunteerBlock'>
        <div class='blockHeader'>
          <h3 class='title'>
            {{#if organization}}{{{organization}}}{{/if}}
          </h3>
          <div class='metaRow'>
            {{#if position}}<div class='position'><strong>{{{position}}}</strong></div>{{/if}}
            {{#if startDate}}
            <div class='dateLine'>
              <span class='date'>{{#if startDate}}{{startDate}}{{/if}} - {{#if endDate}}{{endDate}}{{else}}Present{{/if}}</span>
            </div>
            {{/if}}
          </div>
        </div>
        {{#if summary}}<div class='summary'><p class='summaryProse'>{{{summary}}}</p></div>{{/if}}
        {{#if highlights.length}}
        <ul class='highlights'>
          {{#each highlights}}
          <li>{{{.}}}</li>
          {{/each}}
        </ul>
        {{/if}}
      </div>
      {{#unless @last}}<div class='separator'></div>{{/unless}}
      {{/each}}
    </div>
	</div>
	{{/if}}

  {{#if resume.certificates.length}}
  <div class='certificates'>
    <h2 class='sectionName'>
      <span>Certifications</span>
    </h2>
    <div class='sectionContent'>
      {{#each resume.certificates}}
      <div class='certificateBlock'>
        <div class='blockHeader blockHeaderInlineMeta'>
          <h3 class='title'>
            {{{name}}} - {{{issuer}}}
          </h3>
          {{#if date}}
          <div class='dateLine'>
            <span class='date'>{{date}}</span>
          </div>
          {{/if}}
        </div>
      </div>
      {{#unless @last}}<div class='separator'></div>{{/unless}}
      {{/each}}
    </div>
  </div>
  {{/if}}

	{{#if resume.languages.length}}
	<div class='languages'>
    <h2 class='sectionName'>
      <span>Languages</span>
    </h2>
    <div class='sectionContent'>
      <div class='languageBlock'>
        {{#each resume.languages}}
        <span class='language'>{{{language}}}</span>
        {{#if fluency}}
        <span class='fluency'><em>({{{fluency}}})</em></span>
        {{/if}}
        {{#unless @last}}<span>, </span>{{/unless}}
        {{/each}}
      </div>
    </div>
	</div>
  {{/if}}

	{{#if resume.interests.length}}
	<div class='interests'>
    <h2 class='sectionName'>
      <span>Interests</span>
    </h2>
    <div class='sectionContent'>
      <div class='interestBlock'>
        {{#each resume.interests}}
        <span class='name'>{{{name}}}</span>
        {{#if keywords.length}}
        <span class='keywords'>: <em>{{#each keywords}}{{{.}}}{{#unless @last}}, {{/unless}}{{/each}}</em></span>
        {{/if}}
        {{#unless @last}}<span>; </span>{{/unless}}
        {{/each}}
      </div>
    </div>
	</div>
  {{/if}}

  {{#if resume.references.length}}
  <div class='references'>
    <h2 class='sectionName'>
      <span>References</span>
    </h2>
    <div class='sectionContent'>
      {{#each resume.references}}
      <div class='referenceBlock'>
        <div class='blockHeader'>
          <h3 class='title'>{{{name}}}</h3>
        </div>
        {{#if reference}}
        <div class='reference'>"{{{reference}}}"</div>
        {{/if}}
      </div>
      {{#unless @last}}<div class='separator'></div>{{/unless}}
      {{/each}}
    </div>
  </div>
  {{/if}}

	</div>
	</body>
</html>
